[hooks]
        from-domain = sourceware.org
        mailinglist = /git/binutils-gdb.git/hooks-bin/email_to.py

        # We do not want to force a maximum line length in commit
        # revision logs, as they get in the way of copy-pasting
        # debugging session, error messages, logs, etc.
        max-rh-line-length = 0

        # Reject merge commits on a certain number of branches:
        #  - on master: We request that people rebase their changes
        #    before pushing instead (merge commits tend to confuse
        #    git newcommers).
        #  - on GDB release branches: There is a high risk that a merge
        #    commit is a merge from master into the branch, which would
        #    bring a lot more than what the user probably meant to push.
        #    Request that the user cherry-pick his changes.
        reject-merge-commits = refs/heads/master
        reject-merge-commits = refs/heads/gdb-.*

        # The style checker, applied to the contents of each file being
        # modified.
        style-checker = /git/binutils-gdb.git/hooks-bin/style_checker

        # Extra checks on the commits, specific to this repository.
        commit-extra-checker = /git/binutils-gdb.git/hooks-bin/commit-extra-checker.py

        # The URL where we can inspect the commit, inserted in the commit
        # notification email, and also copy sent to the file-commit-cmd.
        commit-url = "https://sourceware.org/git/gitweb.cgi?p=binutils-gdb.git;h=%(rev)s"

        # Do not send emails for the following branches (unofficial
        # third-party branches).
        no-emails = refs/heads/users/.*

        # Send a copy to bugzilla if a commit has a PR number in it.
        file-commit-cmd = "/sourceware/infra/bin/email-to-bugzilla -G 'gdb binutils'"
        # The script that calls the irker (IRC notification of new
        # commits).
        post-receive-hook = /git/binutils-gdb.git/hooks-bin/post-receive
